.container {
  padding: 20px;
}

.castList {
  list-style: none;
  padding: 0;
}

.castItem {
  display: flex;
  align-items: center;
  /margin-bottom: 15px;
}

.actorImage {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.actorName {
  font-size: 18px;
  font-weight: bold;
}

.characterName {
  font-size: 16px;
  color: #555;
}
