.details {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.posterContainer {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;
}

.posterImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.descriptionContainer {
  flex: 2;
}

.nav {
  margin-top: 20px;
}

.nav a {
  margin-right: 15px;
  text-decoration: none;
  color: blue;
}

.nav a:hover {
  text-decoration: underline;
}
